*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #222222;
}

.navtopvoltar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 10px 0px 0px;
}
.navtopvoltar .txtMeuperfil
{
    margin-right: 20px;

    font-size: 18px;
    font-weight: bold;

}
.navtopvoltar .divsetavoltar{
    cursor: pointer;
}
.infoUsers1{
    display: flex;
}
.infoUsers1 .nomeUsers{
    margin: 10px 0px 0px 20px;
    font-size: 19px;
}
.divInfopessoais{
    margin-top: 40px;
    padding: 10px;

    box-shadow: 2px 1px 8px 2px #afaeae;

    cursor: pointer;
}

.tituloTxtinfoP{
    font-size: 21px;
    margin-bottom: 20px;
  
}

.txtInfopessoais{
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
}
.txtInfopessoais div:not(:last-child){
margin-bottom: 15px;
}

.styleInfo{
    display: flex;
    
}
.Info{
    margin-left: 5px;
    color:#737373;
}
.infoNome{
    width: 100%;
}
.infoSobrenome{
    width: 100%; 
}
.infoEmail{
    width: 100%;
}
.infoSenha{
    width: 100%;
}

.infofavo{
   width: 100%;
}

.divLivrosfavo{
    display: flex;
    flex-wrap:wrap ;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 1px 8px 2px #afaeae;
}
div .sectionLivro {
   
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div .divbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
div .divbtn input{
    font-size: 17;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    color: white;
    background-color:#783560;
    box-shadow: 4px 4px 6px #524f51;
    border: none ;
    cursor: pointer;
    transition: 0.5s;
}
div .divbtn input:hover{
background-color: #612e4f;
box-shadow: 4px 4px 6px #4b484a;
}
.tituloTxtLivrosfavo{
    margin-bottom: 15px;
    font-size: 21px;

}

.favoTudo1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.img1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txtfavo{

    margin-bottom: 10px;
    width: 65%;
    display: flex;
    font-size: 17px;
    justify-content: center;
}